* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-menu.show {
  margin-top: 6px !important;
  background-color: #2B4865;
  color: #FCBB6D;
  border-top-left-radius: 0;
}

.dropdown-menu.show {
  border-radius: 0 0 2 2 !important;
}

.dropdown-menu.show a {
  color: aliceblue;
}

.dropdown-menu.show a:hover {
  background-color: #256D85;
}

.dropdown-divider {
  background-color: aliceblue !important;
}

.Form {
  box-shadow: 5px 10px #888888;
}